################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SystemApp/bin/Debug/net8.0
/SystemApp/obj
/SystemApp/SystemApp.csproj.user
