@model SystemApp.Models.AccountUser

@{
    ViewData["Title"] = "Create";
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">SystemApp/</span> AccountUser</h4>
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Create</h5>

            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="UserName" class="form-label"></label>
                        <input asp-for="UserName" class="form-control" id="basic-default-fullname" placeholder="Enter UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input asp-for="Password" class="form-control" id="basic-default-company" placeholder="Enter Password" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="MailAddress" class="form-label"></label>
                        <input asp-for="MailAddress" class="form-control" id="basic-default-company" placeholder="Enter Email" />
                        <span asp-validation-for="MailAddress" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Phone" class="col-md-2 col-form-label"></label>
                        <input asp-for="Phone" class="form-control" placeholder="Enter PhoneNumber" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="CreateDate" class="col-md-2 col-form-label"></label>
                        <input asp-for="CreateDate" class="form-control" placeholder="Enter CreateDate" />
                        <span asp-validation-for="CreateDate" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
